* {
    box-sizing: border-box;
}

:root {
    --venia-anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
    --venia-anim-in: cubic-bezier(0, 0, 0.2, 1);
    --venia-anim-out: cubic-bezier(0.4, 0, 1, 1);
    --venia-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);
    --venia-background-color: 255, 255, 255;
    --venia-border: 224, 224, 224;
    --venia-error: 192, 18, 63;
    --venia-error-alt: 255, 226, 234;
    --venia-font: Muli, -apple-system, BlinkMacSystemFont, sans-serif;
    --venia-grey: 246, 246, 246;
    --venia-grey-dark: 209, 209, 209;
    --venia-grey-darker: 112, 112, 112;
    --venia-orange: 241, 99, 33;
    --venia-teal: 0, 115, 120;
    --venia-teal-alt: 224, 240, 241;
    --venia-teal-dark: 0, 104, 108;
    --venia-teal-light: 212, 243, 238;
    --venia-text: 33, 33, 33;
    --venia-text-alt: var(--venia-grey-darker);
    --venia-text-hint: 158, 158, 158;
    --venia-text-spot: 255, 99, 51;
    --venia-warning-dark: 249, 93, 94;
    --venia-warning-light: 254, 229, 232;
}

html {
    background-color: white;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: white;
    color: rgb(var(--venia-text));
    margin: 0;
    padding: 0;
}

html[data-scroll-lock='true'],
html[data-scroll-lock='true'] body {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

body,
input,
select,
textarea {
    font-family: var(--venia-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    margin: 0;
}

dl,
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dd,
dt {
    margin: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: var(--venia-font);
    font-size: 100%;
    padding: 0;
    touch-action: manipulation;
    user-select: none;
    -webkit-appearance: none;
}

button:disabled {
    cursor: default;
    touch-action: none;
}

/*
 * Target the first row.
 */
:global(.venia-home-row) {
    max-width: 1440px !important;
}

:global(.venia-home-row > div) {
    padding: 0 !important;
}

:global(.venia-home-slider ~ div) {
    display: grid !important;
    gap: 2rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
    z-index: 1;
}

:global(.venia-home-slider + div),
:global(.venia-home-slider + div + div) {
    padding-right: 2rem;
}

:global(.venia-home-callout-text),
:global(.venia-home-callout-image) {
    margin: 0 !important;
    width: 100% !important;
}

:global(.venia-home-callout-image) {
    background-size: cover !important;
    height: 280px !important;
    min-height: 280px !important;
    padding: 0 !important;
}

:global(.venia-home-callout-text) {
    background-color: transparent !important;
    display: grid !important;
    grid-template-columns: 50% 50% !important;
    height: 6rem !important;
    margin-top: -5.5rem !important;
    min-height: 6rem !important;
    padding: 0 !important;
}

:global(.venia-home-callout-text > div) {
    align-content: center;
    background-color: rgb(27 37 44) !important;
    border-bottom: 0.5rem solid hsl(233 100% 056%) !important;
    display: grid;
    gap: 0.25rem;
    grid-column: 2 !important;
    line-height: 1.5 !important;
    padding: 0 1rem !important;
    text-align: left !important;
    transform: translate3d(1rem, 0, 0);
}

:global(.venia-home-callout-text > div > h2) {
    font-family: "Source Serif Pro";
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

:global(.venia-home-callout-text > div > p),
:global(.venia-home-callout-text > div > p > span) {
    font-size: 0.875rem !important;
    margin: 0;
}

/*
 * Target the slider track.
 */
:global(.venia-home-slider .slick-slider .slick-track) {
    display: grid;
    grid-auto-flow: column;
}
:global(.venia-home-slider .slick-slider .slick-track::before),
:global(.venia-home-slider .slick-slider .slick-track::after) {
    content: none;
}

/*
 * Target each slide.
 */
:global(.venia-home-slider .slick-slider .slick-slide) {
    float: none;
    line-height: 1.5;
    text-align: left;
}

/*
 * Target the banner wrapper within a slide.
 */
:global(.venia-home-slider .slick-slide > div > div > div) {
    background-size: cover !important;
    /* min-height: inherit !important; */
}
@media (max-width: 1280px) {
    :global(.venia-home-slider .slick-slide > div > div > div) {
        min-height: 580px !important;
    }
}

:global(.venia-home-slider .slick-slide h2) {
    font-family: "Source Serif Pro";
    font-weight: 600;
}

/*
 * Target the slide selection controls.
 */
:global(.venia-home-slider .slick-slider .slick-dots) {
    align-items: center;
    display: grid !important;
    grid-auto-flow: column;
    height: 4rem;
    justify-content: center;
    margin-top: -6rem;
    padding: 0 0 2rem;
}

:global(.venia-home-slider .slick-slider .slick-dots li) {
    height: auto;
    margin: 0;
    width: auto;
}

:global(.venia-home-slider .slick-slider .slick-dots li > button) {
    background-clip: content-box !important;
    border-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 1rem;
    height: 2.5rem !important;
    margin: 0;
    transition: none;
    width: 2.5rem !important;
}
